<script lang="ts">
  export let gridSize: number;
  export let quantity: number;
  export let padding: number;

  const boxSize = 100;
  const gap = 4;

  // Constraints
  $: quantity = Math.min(gridSize * gridSize, quantity);

  $: radius = (boxSize - 2 * padding - (gridSize - 1) * gap) / (2 * gridSize);
  $: offset = padding + radius;
  $: centersDistance = 2 * radius + gap;

  const dots = (quantity: number) => {
    const columns = Array<number>(gridSize).fill(0);

    for (let i = 0; i < quantity; i++) {
      const allowedColumns: number[] = columns.reduce(
        (array: number[], n, index) =>
          n < gridSize ? [...array, index] : array,
        []
      );
      const randomIndex = Math.floor(Math.random() * allowedColumns.length);
      columns[allowedColumns[randomIndex]] =
        columns[allowedColumns[randomIndex]] + 1;
    }

    const dots: number[] = [];
    const matrixPosition = (column: number, row: number) =>
      column + row * gridSize;

    for (let column = 0; column < gridSize; column++) {
      for (let row = 0; row < columns[column]; row++) {
        dots.push(matrixPosition(column, gridSize - row - 1));
      }
    }

    return dots;
  };

  $: dotPositionX = (index: number) => {
    const col = index % gridSize;
    return offset + centersDistance * col;
  };

  $: dotPositionY = (index: number) => {
    const row = Math.floor(index / gridSize);
    return offset + centersDistance * row;
  };
</script>

<svg class="inca-tile" viewBox="0 0 {boxSize} {boxSize}">
  <!-- Quantity -->
  {#each dots(quantity) as index}
    <circle
      class="inca-tile-foreground"
      cx={dotPositionX(index)}
      cy={dotPositionY(index)}
      r={radius}
    />
  {/each}
</svg>
