@use '../variables' as *;

input[type='range'] {
  display: inline-block;
  width: 100%;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  vertical-align: middle;

  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background-color: var(--inca-surface-variant, $inca-surface-variant);
    border-radius: 1rem;
  }

  &::-moz-range-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    background-color: var(--inca-surface-variant, $inca-surface-variant);
    border-radius: 1rem;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    border: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin-top: -0.25rem;
    background-color: var(--inca-primary, $inca-primary);
    border-radius: 1rem;
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  &::-moz-range-thumb {
    appearance: none;
    border: none;
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin-top: -0.25rem;
    background-color: var(--inca-primary, $inca-primary);
    border-radius: 1rem;
    transition: background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
