<script lang="ts">
  import { type ThemeCollectionStore, type ThemeStore } from '../../apis/theme';

  export let theme: ThemeStore;
  export let themeCollection: ThemeCollectionStore;
</script>

<div class="theme-picker-buttons-container">
  {#each Object.values($themeCollection) as item}
    {@const checked = item.name === $theme.name}
    <input
      id="theme-picker-{item.name}"
      type="radio"
      bind:group={$theme.name}
      value={item.name}
    />
    <label
      for="theme-picker-{item.name}"
      style:background-color={checked ? item.colors.primary : 'transparent'}
      style:border-color={item.colors.outline}
      style:color={checked ? item.colors.onPrimary : 'inherit'}
    >
      <div
        style:background-color={item.colors.primary}
        style:border-color={item.colors.primaryContainer}
      />
      <p class="inca-label">{item.name}</p>
    </label>
  {/each}
</div>

<style lang="scss">
  div.theme-picker-buttons-container {
    display: flex;
    gap: 1em;

    input {
      display: none;
    }

    label {
      cursor: pointer;
      position: relative;
      flex-grow: 1;
      display: grid;
      padding: 0.4em 0;
      place-items: center;
      border-radius: $input-radius;

      div {
        width: 2em;
        aspect-ratio: 1;
        border: 0.3em solid;
        border-radius: 50%;
      }

      p {
        text-transform: capitalize;
      }
    }
  }
</style>
