$input-radius: 0.6em;
$input-padding: 0.6em;
$input-disabled-opacity: 0.2;

$container-radius: 1em;

// default color if css vars are not used
$inca-red: #ba1a1a;
$inca-on-red: #410002;
$inca-green: #026e00;
$inca-on-green: #002200;
$inca-yellow: #e3bc1e;
$inca-on-yellow: #494122;
$inca-primary: #006c4f;
$inca-on-primary: #ffffff;
$inca-primary-container: #85f8cb;
$inca-on-primary-container: #002116;
$inca-secondary: #4c6358;
$inca-on-secondary: #ffffff;
$inca-secondary-container: #cfe9da;
$inca-on-secondary-container: #092017;
$inca-tertiary: #3e6374;
$inca-on-tertiary: #ffffff;
$inca-tertiary-container: #c2e8fd;
$inca-on-tertiary-container: #001f2a;
$inca-error: #ba1a1a;
$inca-on-error: #ffffff;
$inca-error-container: #ffdad6;
$inca-on-error-container: #410002;
$inca-background: #fbfdf9;
$inca-on-background: #191c1a;
$inca-surface: #fbfdf9;
$inca-on-surface: #191c1a;
$inca-surface-variant: #dbe5de;
$inca-on-surface-variant: #404944;
$inca-outline: #707974;
$inca-outline-variant: #bfc9c2;
$inca-shadow: #000000;
$inca-scrim: #000000;
$inca-inverse-surface: #2e312f;
$inca-inverse-on-surface: #eff1ee;
$inca-inverse-primary: #68dbb0;
$inca-success: #026e00;
$inca-success-container: #77ff61;
$inca-on-success: #ffffff;
$inca-on-success-container: #002200;
$inca-game-background: #fbfdf9;
$inca-game-foreground: #191c1a;
$inca-tile-background: #dbe5de;
$inca-tile-foreground: #006c4f;
$inca-tile-border-color: #191c1a;
$inca-tile-border-radius: 0;
$inca-tile-border-size: 0.4em;
