<script lang="ts">
  import { faArrowLeft, faPlay } from '@fortawesome/free-solid-svg-icons';
  import Fa from './Fa.svelte';

  export let mode: 'ready' | 'exit';
</script>

<button
  on:click
  class="action-button"
  class:ready={mode === 'ready'}
  class:exit={mode === 'exit'}
>
  <Fa icon={mode === 'ready' ? faPlay : faArrowLeft} />
</button>

<style lang="scss">
  .action-button {
    cursor: pointer;
    width: var(--width, 6em);
    user-select: none;
    appearance: none;
    border: none;
    display: grid;
    place-items: center;
    aspect-ratio: 1;

    :global(> *) {
      height: 40%;
    }
  }

  .action-button.ready {
    color: var(--color, var(--inca-on-yellow, $inca-on-yellow));
    background-color: var(--background-color, var(--inca-yellow, $inca-yellow));
  }

  .action-button.exit {
    color: var(--color, var(--inca-on-red, $inca-on-red));
    background-color: var(--background-color, var(--inca-red, $inca-red));
  }
</style>
